<style>
    ul,li{
        list-style: none;
        padding: 0;
    }
    li{
        padding: .5em 1em;
        margin: .5em
        background-color: rgb(209, 209, 209);
    }
    ul{
        width: 50vw;
        background-color: rgb(233, 233, 233);
        margin: 1em auto;
        display: flex;
        justify-content: center;
    }

    .size{
        font-size: 20px;
    }
</style>


<h1>All Users</h1>

<lu>
    <% @users.each do |user| %>
        <li class="size">
            <%= user.name %>
            :
            <%= user.email %> 
        </li>
        
    <% end %>
</lu>

<%= link_to "Home", :controller => 'home', :action => 'index' %></br>