<h1>Edit Message</h1>

<%= form_for @message, :url => home_path do |f| %>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %><br />

    <%= f.label :message, "Message" %><br />
    <%= f.text_area :message %><br />

    <%= f.submit "Update" %>
<% end %>
<br />
<%= link_to 'Home', home_index_path %>