<style>
    ul,li{
        list-style: none;
        padding: 0;
    }
    li{
        padding: .5em 1em;
        margin: .5em
        background-color: rgb(209, 209, 209);
    }
    ul{
        width: 50vw;
        background-color: rgb(233, 233, 233);
        margin: 1em auto;
        display: flex;
        justify-content: center;
    }

    .size{
        font-size: 20px;
    }
</style>


<h1>Message Board</h1>

<% if user_signed_in? %>
    -----------------------------------------------</br>
    Welcome, <%= current_user.name %></br>
    
    <% if current_user.admin? %>
        <p>you are system administrator</p>
        There are <%= User.count %> users in the system.</br>
        
        <%= link_to "User list", :controller => 'users', :action => 'index' %></br>

    <% end %>
    <%= link_to "Account Settings", edit_user_registration_path %></br>
    <%= link_to "log out", destroy_user_session_path, 'data-turbo-method': :delete %></br>
    -----------------------------------------------

<% else %>
    <%= link_to "Sign up", new_user_registration_path %></br>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>

<lu>
    <%= paginate @messages %>
    <% @messages.each do |message| %>
        <li class="size">
            <%= message.name %>
            :
            <%= message.message %> 
            <% if user_signed_in? %>
                <% if current_user.admin? || current_user.id == message.user_id%>
                    <%= link_to 'Edit', edit_home_path(message) %>
                    <%= link_to 'Delete', home_path(message), 'data-turbo-method': :delete %>
                <% end %>
            <% end %>
        </li>
        
    <% end %>
</lu>
<% if user_signed_in? %>
    <%= link_to 'New Message', new_home_path %>
<% end %>