
<h1>New Message</h1>


<%= form_for @message, :url => home_index_path do |f| %>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %><br />
    <%= f.label :message, "Message" %><br />
    <%= f.text_area :message %><br />
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Create" %>
<% end %>
<br />
<p>you are <%= current_user.id %>
<%= link_to 'Home', home_index_path %>